<app-welcome-header></app-welcome-header>
<div class="container-fluid">

  <div class="row" style="height: 89vh" [formGroup]="fbInput">

    <div
    class="col
    bg-info
    d-flex
    flex-column
    justify-content-center
    align-items-center">

    <div
    class="row
    bg-light
    d-flex
    flex-column
    justify-content-center
    align-items-center
    text-center"
    style="height: 60vh;
    width: 35vw;
    border-radius: 10px;">


    <div class="h2 text-info
        mb-4
        font-weight-bolder">

          Forgot Password?

      </div>


      <div style="color: red;
      font-size: 20px; margin-bottom: 8px;" innerHTML = "{{ sccMsg }}"></div>

        <div class="alert"
        id="alertId"
        style="color: red;
        font-size: 15px;">

          Please provide your valid and registered email address for getting your password on this email address.

        </div>


        <div style="width: 15vw;">


          <label for="InputEmail">

            Email address

          </label>


          <input type="email"
          class="form-control"
          formControlName="userEmailId"
          placeholder="abc@gmail.com">

         </div>



         <div>

          <button type="submit"
          class="btn btn-info
          btn-block
          mt-4
          mb-3"
          [disabled]="!fbInput.valid"
          style="width: 12vw;"
          (click)="forgotPassFun()">

            Reset Password

          </button>


         </div>


    </div>


   </div>

  </div>

</div>
