<div class="container-fluid
m-0">

  <div class="row">

    <div class="col
    bg-dark
    d-flex
    flex-direction-column
    text-light
    sticky-top"
    style="height: 80px;">

      <div class="col-3
      align-items-center
      d-flex"
      style="height: 100%;
      font-size: 24px;">

        WorkHoppers

      </div>

      <div class="col-9
      align-items-center
      d-flex
      text-light
      justify-content-end"
      style="height: 100%;">

        <div>

          <input class="btn
          text-light
          btn-outline-info
          ml-4"
          type="button"
          (click)="myJobOffers()"
          value="My Job Offers">


        </div>

        <div>

          <input class="btn
          text-light
          btn-outline-info
          ml-4"
          type="button"
          (click)="addJobs()"
          value="Add Jobs">


        </div>

        <div>

          <input class="btn
          text-light
          btn-outline-info
          ml-4"
          type="button"
          (click)="companyProfile()"
          value="Profile">


        </div>

        <div>

          <input class="btn
          text-light
          btn-outline-info
          ml-4"
          type="button"
          value="Log out"
          (click)= "logoutFun()">


        </div>


      </div>

    </div>

    <!--
          <img src="assets/6.jpg" alt="" style="height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    ">
    -->


  </div>

</div>


