<app-admin-header></app-admin-header>
<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col-8"><img src="assets/Admin.png" style="height: 85vh;margin-left: 0%;"></div>


    <div class="col-4
  mt-4
  mb-5" style="font-weight: bold;font-style: italic">
  <h3 class="text-info">"Success is not final,</h3>
  <h2 style="color: rgb(235, 182, 8)">failure is not fatal,</h2>
  <h3 class="text-info" > It is the courage to continue that counts."</h3>
</div>


  </div>

</div>

<router-outlet></router-outlet>

