<app-welcome-header></app-welcome-header>
<div class="container-fluid">

  <div class="row" style="height: 89vh">

    <div
    class="col-6
    bg-info
    d-flex
    flex-column
    text-light
    justify-content-center
    align-items-center" style="height: 89vh;">

      <div class="h2
      font-weight-bold
      mt-1
      mb-5"
          style="font-size: 45px;" >
          About Us
      </div>

      <p style="font-size: 20px;">
        <em>Workhoppers is the only on-line platform that matches companies with the RIGHT local professional.saving companies an enormous amount of time and money in sourcing, screening and selection of candidates.
          Companies can now find and connect instantaneously with the right candidate based on skills, location, experience, education, availability and much more.
          <br><br>
          Join and connect directly with the right professional seeking flexible work!
        </em>
      </p>

    </div>

    <div
    class="col-6
    d-flex
    bg-secondary
    flex-column
    justify-content-center"
    style="height: 100vh; height: 89vh; color: rgba(255, 255, 255, 0.767);">


    <div class="h2
    font-weight-bold
    mt-1
    mb-5"
    style="margin-left: 220px;">
    MEET OUR TEAM
    </div>


      <div class="row
      d-flex
      mb-4">

        <div style="margin-left: 280px;">
        <h5 style="font-size: 20px;">Akash Pol</h5>
        <h6 style="font-size: 20px;">PG-DAC (Project Lead)</h6>
        <p>akashpolcdac@gmail.com</p>
        </div>

      </div>

      <div class="row
      d-flex mb-3"
      style="margin-left: 100px;">

        <div class="col-6
        d-flex">

        <div>
          <h5 style="font-size: 20px;">Aarti Patil</h5>
          <h6 style="font-size: 20px;">PG-DAC</h6>
          <p>aartipatil15@gmail.com</p>
        </div>
        </div>

        <div class="col-6
        d-flex">

        <div>
          <h5 style="font-size: 20px;">Pooja Sathawane</h5>
          <h6 style="font-size: 20px;">PG-DAC</h6>
          <p>sathawane31081997@gmail.com</p>
        </div>
        </div>

      </div>

      <div class="row
      d-flex mb-3"
      style="margin-left: 100px;">


        <div class="col-6
        d-flex">
        <div>
          <h5 style="font-size: 20px;">Pratik Shinde</h5>
          <h6 style="font-size: 20px;">PG-DAC</h6>
          <p>pratikshinde7516@gmail.com</p>

        </div>

        </div>

        <div class="col-6
        d-flex">
        <div>
        <h5 style="font-size: 20px;">Shradha Bacchewar</h5>
        <h6 style="font-size: 20px;">PG-DAC</h6>
        <p>bacchewarshradha4@gmail.com</p>
        </div>

        </div>

      </div>

    </div>

  </div>
</div>
