<app-jobseeker-header></app-jobseeker-header>

<router-outlet></router-outlet>

  <div class="container-fluid ">

    <div class="row mt-4 justify-content-center "style="height:200px; width: 500px; margin-top:   150px;">
      <div class="col-12 bg-secondary mt-0 rounded justify-content-center" style="margin-top:40px; color: rgba(255, 255, 255, 0.856); margin-left: 900px;">

        <div hidden>
          <label style="font-weight: bold; font-size: 18px;">jobSeekerId : </label>{{this.jobseekerProfile.userId}}
        </div>

        <div>
          <label style="font-weight: bold; font-size: 18px;">Your Name : </label>{{this.jobseekerProfile.userName}}
        </div>

        <div>
          <label style="font-weight: bold; font-size: 18px;">Your Password : </label>{{this.jobseekerProfile.userPassword}}
        </div>

        <div>
          <label style="font-weight: bold; font-size: 18px;">Your Address : </label>{{this.jobseekerProfile.userAddress}}
        </div>

        <div>
          <label style="font-weight: bold; font-size: 18px;">Your Email Address : </label>{{this.jobseekerProfile.userEmailId}}
        </div>

        <div>
          <label style="font-weight: bold; font-size: 18px;">Your Contact No :  </label>{{this.jobseekerProfile.userContactNo}}
        </div>
         <div>
        <button type="submit"class="btn btn-md btn-danger mt-3"    style="margin-right: 50px; margin-bottom: 100px; " (click)="updateProfile()" >
            Update
        </button>

        <button type="submit"class="btn btn-md btn-danger mt-3"  style="margin-right: 150px; margin-bottom: 100px;"   (click)="deleteJobseekerProfileFun(jobseekerProfile.userId)">
          Delete
        </button>
        </div>

      </div>
    </div>

</div>
